<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <title>crud</title>
    <link rel="stylesheet" href="{% static 'app1/css/bootstrap.css'  %}" >
    <link rel="stylesheet"   href="{% static 'app1/css/style.css' %}" >
    <style>
      .errr{
    color: red;
}
.info{
    color: red;
}
    </style>
  </head>
  <body>
    <div class="container" mt-5>
      <h2 class="text-centre alert alert-danger">functional base model view class</h2>
      {% block content %} {% endblock %}
    </div>
    

    <script src="{% static 'myapp/js/jquery' %}"></script>
    <script src="{% static 'myapp/js/popper' %}"></script>
    <script src="{% static 'myapp/js/bootstrap' %}"></script>

  </body>
</html>
