{% extends "practice/base.html" %} 
{% block content %}

<form action="" method="get">
    <table>
        {{form}}
    </table>
    <input type="submit" value="submit" />
</form>

<hr>

<!-- <form action="" method="get">
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" value="submit" />
</form>

<hr>

<form action="" method="get">
    <table>
        {{form.as_p}}
    </table>
    <input type="submit" value="submit" />
</form>

<hr>

<form action="" method="get">
    <table>
        {{form.as_ul}}
    </table>
    <input type="submit" value="submit" />
</form>
<hr>
<form action="" method="get">
    <table>
        {{form.emai}}
    </table>
    <input type="submit" value="submit" />
</form> -->


{% endblock %}
